USE [master]
GO
/****** Object:  Database [IPL_Cleaned]    Script Date: 11-09-2025 08:41:56 ******/
CREATE DATABASE [IPL_Cleaned]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IPL_Cleaned', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IPL_Cleaned.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IPL_Cleaned_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IPL_Cleaned_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IPL_Cleaned].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IPL_Cleaned]
GO
/****** Object:  Table [dbo].[stg_ipl_matches_cleaned]    Script Date: 11-09-2025 08:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_ipl_matches_cleaned](
	[match_id] [varchar](max) NULL,
	[date] [varchar](50) NULL,
	[teams] [varchar](200) NULL,
	[venue] [varchar](300) NULL,
	[toss_winner] [varchar](100) NULL,
	[toss_decision] [varchar](50) NULL,
	[match_winner] [varchar](100) NULL,
	[win_type] [varchar](50) NULL,
	[win_margin] [varchar](50) NULL,
	[first_innings_score] [varchar](50) NULL,
	[second_innings_score] [varchar](50) NULL,
	[player_of_match] [varchar](150) NULL,
	[umpire] [varchar](100) NULL,
	[umpire1] [varchar](100) NULL,
	[umpire2] [varchar](100) NULL,
	[powerplay_scores] [varchar](50) NULL,
	[middle_overs_scores] [varchar](50) NULL,
	[death_overs_scores] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_ipl_overs_cleaned]    Script Date: 11-09-2025 08:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_ipl_overs_cleaned](
	[match_id] [varchar](max) NULL,
	[inning] [varchar](max) NULL,
	[over] [varchar](max) NULL,
	[ball] [varchar](max) NULL,
	[batsman] [varchar](100) NULL,
	[non_striker] [varchar](100) NULL,
	[bowler] [varchar](100) NULL,
	[batting_team] [varchar](100) NULL,
	[bowling_team] [varchar](100) NULL,
	[runs] [varchar](10) NULL,
	[extras] [varchar](10) NULL,
	[total_runs] [varchar](10) NULL,
	[wicket_type] [varchar](50) NULL,
	[player_dismissed] [varchar](100) NULL,
	[fielder] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
