USE [master]
GO
/****** Object:  Database [employee_details]    Script Date: 08-09-2025 23:22:24 ******/
CREATE DATABASE [employee_details]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'employee_details', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\employee_details.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'employee_details_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\employee_details_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [employee_details].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [employee_details]
GO
/****** Object:  Table [dbo].[EmployeeRecords]    Script Date: 08-09-2025 23:22:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRecords](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 08-09-2025 23:22:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
	[HireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EmployeeRecords] ([EmployeeID], [FirstName], [LastName], [Department], [Salary]) VALUES (1, N'John', N'Miller', N'HR', CAST(60000.00 AS Decimal(10, 2)))
INSERT [dbo].[EmployeeRecords] ([EmployeeID], [FirstName], [LastName], [Department], [Salary]) VALUES (2, N'Jane', N'Smith', N'Finance', CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[EmployeeRecords] ([EmployeeID], [FirstName], [LastName], [Department], [Salary]) VALUES (3, N'John', N'Miller', N'HR', CAST(60000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Department], [Salary], [HireDate]) VALUES (1, N'John', N'Doe', N'HR', CAST(50000.00 AS Decimal(10, 2)), CAST(N'2020-01-15' AS Date))
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Department], [Salary], [HireDate]) VALUES (2, N'Jane', N'Smith', N'Finance', CAST(60000.00 AS Decimal(10, 2)), CAST(N'2019-03-23' AS Date))
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Department], [Salary], [HireDate]) VALUES (3, N'Alice', N'Johnson', N'IT', CAST(75000.00 AS Decimal(10, 2)), CAST(N'2021-07-10' AS Date))
GO
USE [master]
GO
